
.watermark {
    display: none !important;
}

.MuiStack-root css-1798y75 {
    text-align: left !important; 
}

.css-1vb1eow{
    margin-left: 0px !important;
}

.css-1s3oi5q{
    background-color:#ffe7e7 !important;
}
